<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <div id="vue">
        <header-main></header-main>
            <div class="about">
                <div class="about-area">
                   <h3 class="pb-2 pt-5 border-bottom p-2">
                       <strong>|</strong> О Ростовской области</h3>
                    <img src="/images/showplace/front.jpg" class="front-img mt-2"/>
                    <div class="text-justify m-3">
                        <p>Ростовская область — южные ворота России.
                            Это место, где переплетаются богатейшая история и культура,
                            родники и тенистые леса сменяются бескрайними полями, речные долины,
                            балки и овраги придают местным пейзажам неповторимый рельеф и колорит.
                            Донской край привлекает туристов своей богатой историей, очаровательной природой, гостеприимными жителями, самобытной казачьей культурой.
                        </p>
                        <p>Река Дон – одна из крупнейших рек Европы, с ее рукавами и притоками, Азовское море и его Таганрогский залив, Цимлянское водохранилище, донские и приазовские степи формируют неповторимый и запоминающийся облик Ростовской области.</p>
                        <p>С Тихим Доном связано творчество Александра Пушкина, Михаила Шолохова, Николая Туроверова, Виталия Закруткина, Анатолия Калинина, Владимира Фоменко, Виталия Сёмина, Анатолия Софронова, Бориса Куликова, Николая Доризо, Аршака Тер-Маркарьяна.</p>
                        <p>На Тихом Дону долгое время формировалась особая общность людей со своим укладом жизни, едиными интересами, традициями и занятиями – донское казачество.</p>
                        <p>История края тесно связана с именами знаменитых донских казаков XVI - XVIII вв. – Ермака Тимофеевича, Степана Разина, Кондратия Булавина, Емельяна Пугачева, Матвея Платова. </p>
                        <p>Славная история Дона связана с деятельностью российских императоров Петра I, Александра I.</p>
                        <p>Тихий Дон помнит пребывание на его просторах полководца А.В.Суворова и адмирала Ф.Ф.Ушакова, историка В.Д.Сухорукова, географа И.В. Мушкетова, полярных исследователей Г.Я. Седова и Р.Л. Самойловича, философа А.Ф. Лосева, художника-баталиста М.Б. Грекова, скульптора Е.В. Вучетича, писателя А.М. Горького, великой актрисы В.Ф.Комиссаржевской, маршала СССР С.М.Буденного.</p>
                        <p>Здесь родился всемирно известный писатель А.П. Чехов.</p>
                        <p>Признанными туристскими центрами края тихого Дона являются города: Ростов-на-Дону, Новочеркасск, Азов, Таганрог; Аксайский, Азовский, Неклиновский, Усть-Донецкий, Белокалитвинский, Цимлянский и Шолоховский районы Ростовской области. В донских музеях собраны уникальные коллекции находок из золота скифо-сарматского периода, превосходная этнографическая коллекция, представляющая многообразие национальных культур Донского края, предметы казачьего быта, полотна известных живописцев XVIII-XX веков.
                    </div>
                    <h3 class="p-4"> <strong>|</strong> Почему Ростовская область так привлекает туристов? </h3>
                    <div class="text-center">
                        <h5 class="p-3 border-bottom border-top">Казачий колорит и история Тихого Дона</h5>
                        <b-row>
                            <b-col>
                                <img src="/images/showplace/18.jpg" class="mt-2"/>
                                <small>станица Вешенская, памятник "Григорий и Аксинья"</small>
                            </b-col>
                            <b-col>
                                <img src="/images/showplace/kazaki.jpg" class="mt-2"/>
                                <small>Государственный музей-заповедник М. А. Шолохова / Сергей Бугаев</small>
                            </b-col>
                        </b-row>
                        <h5 class="p-3 border-bottom border-top mt-3">Донская кухня и виноделие</h5>
                        <b-row>
                            <b-col>
                                <img src="/images/showplace/15.jpg" class="mt-2"/>
                                <small>Донские вареные раки</small>
                            </b-col>
                            <b-col>
                                <img src="/images/showplace/16.jpg" class="mt-2"/>
                                <small>Вина из винограда, выращенного на Дону</small>
                            </b-col>
                        </b-row>
                        <h5 class="p-3 border-bottom border-top mt-3">Богатое историческое наследие</h5>
                        <b-row>
                            <b-col>
                                <img src="/images/showplace/12.jpeg" class="mt-2"/>
                                <small>Мемориал Славы на Самбекских высотах</small>
                            </b-col>
                            <b-col>
                                <img src="/images/showplace/kumga.jpeg" class="mt-2"/>
                                <small>Этнокомплекс "Кумжа"</small>
                            </b-col>
                        </b-row>
                        <h5 class="p-3 border-bottom border-top mt-3">Место романтики и отдыха</h5>
                        <b-row>
                            <b-col>
                                <img src="/images/showplace/merganovo.jpg" class="mt-2"/>
                                <small>Мержаново — хутор в Неклиновском районе</small>
                            </b-col>
                            <b-col>
                                <img src="/images/showplace/kamensk-eldorado.jpg" class="mt-2"/>
                                <small>База отдыха «Эльдорадо». Каменск-Шахтинский</small>
                            </b-col>
                        </b-row>
                        <h5 class="p-3 border-bottom border-top mt-3">Живописные места</h5>
                        <b-row>
                            <b-col>
                                <img src="/images/showplace/nature.jpg" class="mt-2"/>
                                <small>Можайские пруды. Ростов-на-Дону</small>
                            </b-col>
                            <b-col>
                                <img src="/images/showplace/hutor.jpg" class="mt-2"/>
                                <small>хутор Cтарозолотовский</small>
                            </b-col>
                        </b-row>
                        <h5 class="p-3 border-bottom border-top mt-3">Cоборы и памятники архитектуры</h5>
                        <b-row>
                            <b-col>
                                <img src="/images/showplace/vosnesensky2.jpg" class="mt-2"/>
                                <small>Новочеркасский Свято-Вознесенский кафедральный собор</small>
                            </b-col>
                            <b-col>
                                <img src="/images/showplace/kafendralny-sobor.jpeg" class="mt-2"/>
                                <small>Кафедральный собор Рождества Пресвятой Богородицы</small>
                            </b-col>
                        </b-row>
                    </div>
                    </div>
            </div>
        <footer-main></footer-main>
    </div>
</body>
<script src="/javascripts/vue.js"></script>
<script src="https://kit.fontawesome.com/48a1fc7216.js" crossorigin="anonymous"></script>
</html>