<!DOCTYPE html>
<html>
<%- include('layout/head') %>
<body>
    <div id="vue">
        <%- include('layout/header') %>
            <main-page></main-page>
        <%- include('layout/footer') %>
    </div>
</body>
<%- include('layout/scripts') %>
</html>