<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <div id="vue">
        <header-main></header-main>
            <main-page></main-page>
        <footer-main></footer-main>
    </div>
</body>
<script src="/javascripts/vue.js"></script>
<script src="https://kit.fontawesome.com/48a1fc7216.js" crossorigin="anonymous"></script>
</html>