<!DOCTYPE html>
<html>
<%- include('layout/head') %>
<body>
<div id="vue">
    <%- include('layout/header') %>
        <route-details></route-details>
    <%- include('layout/footer') %>
</div>
</body>
<%- include('layout/scripts') %>
</html>