<!DOCTYPE html>
<html>
<%- include('layout/head') %>
<body>
<div id="vue">
    <%- include('layout/header') %>
    <routes></routes>
    <%- include('layout/footer') %>
</div>
</body>
<%- include('layout/scripts') %>
</html>