<!DOCTYPE html>
<html>
<%- include('layout/head') %>
<body>
<div id="vue">
    <%- include('layout/header') %>
    <div class="area-content">
        <showplace-details></showplace-details>
    </div>
    <%- include('layout/footer') %>
</div>
</body>
<%- include('layout/scripts') %>
</html>