@import 'node_modules/bootstrap/scss/bootstrap'
@import 'node_modules/bootstrap-vue/src/index.scss'
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap')

$font-family-sans-serif:  'Open Sans', sans-serif !default
$font-size-base: 0.9375rem  !default // Assumes the browser default, typically `15px`

$color: #27402F
$color2: #c4eab6
$color3: #ffffff
$color4: #B4281E
$color5: #2d4441
$color6: #364967

a:hover
  text-decoration: none

%area-fix
  width: 80%
  margin-left: auto
  margin-right: auto

body
  background-color: $color3

.area-blue
  background-color: $color6
  color: $color3

ul
  list-style: none

.header
  .brand
    img
      height: 100px
  .header-right-items
    width: 80%
  .bg-dark
    background: linear-gradient(to top, #D5544B, #e9cd57, #1578d0) !important
  a
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.1em
  button
    background-color: $color4 !important
    color: $color3
    width: 80px
    height: 35px
    box-shadow: 0 3px 35px 0 rgba(50,58,76,0.12)
    border-radius: 5px
    border: 0
  button:hover
    background-color: #ef0d00 !important
    color: $color3
  a:hover
    color: $color4 !important
  .has-search .form-control
    padding-left: 2.375rem
  .has-search .form-control-feedback
    position: absolute
    z-index: 2
    display: block
    width: 2.375rem
    height: 2.375rem
    line-height: 2.375rem
    text-align: center
    pointer-events: none
    color: #aaa
  input
    width: 200px
    height: 35px
  img
    height: 50px
  i
    font-size: 22px
    color: $color6
  i:hover
    color: $color3

.modal-content
  h3
    text-align: center
  .btn-login
    background-color: $color4 !important
    color: $color3
    width: 100%
    height: 35px
    box-shadow: 0 3px 35px 0 rgba(50,58,76,0.12)
    border-radius: 5px
    border: 0
  .btn-login:hover
    background-color: #ef0d00 !important
    color: $color3
  a
    color: $color6
    font-weight: 500
  a:hover
    cursor: pointer
    text-decoration: none
    color: $color4 !important
  input
    margin-top: 1rem


.img-fluid
  height: 480px !important

.menu
  color: $color4
  font-size: 15px
  font-weight: 200 !important
  letter-spacing: 0.2em
  margin-left: auto
  a
    color: #ffffff !important
    padding-left: 3rem
  a:hover
    text-decoration: none
    color: $color4 !important

.main
  background-color: $color3
  .main-background
    background-color: #364967
    color: $color3
    .text-about-rostov
      width: 70%
      margin-right: auto
      margin-left: auto
      padding-top: 3rem
      padding-bottom: 3rem
    i
      font-size: 22px
      width: 30px
      margin-right: 2rem
    a
      color: $color3 !important
      line-height: 3rem !important
      padding: 1rem
      font-variant: small-caps
    a:hover
      background: #D5544B
      border-radius: 1rem
      padding: 1rem
      color: $color !important
      background: linear-gradient(to top, #D5544B, #e9cd57, #1578d0) !important
      text-decoration: none
    .title-main-routes:hover
      background: $color6 !important
      color: $color3 !important
  .icon-route
    height: 20px
    width: 20px
  .showplace-card:hover
    img
      opacity: 0.7
  h3
    a
      color: #212529

.showplace-card
  @extend %card
  .card-title
    width: 100%
    background-color: black
    opacity: 0.7
    h4
      color: #ffffff
      opacity: 1

.footer
  padding: 3rem 3rem
  background-color: #d2d4dd
  a
    line-height: 22px
    color: $color
    font-weight: 400
    font-size: 15px
    font-variant: small-caps
  a:hover
    text-decoration: none
    color: #000000

.about
  background-color: $color6
  color: #F2CEAA
  padding-bottom: 4rem
  .front-img
    max-height: 400px
  img
    width: 100%
    max-height: 300px
    display: block
    object-fit: cover
  h3
    font-variant: small-caps
    strong
      color: $color4
      font-size: 2.5rem
  p
    text-indent: 20px
  .about-area
    @extend %area-fix

.area-content
  background-color: $color3
  color: #1b1e21

.special-route
  padding: 3rem 3rem
  @extend %area-fix
  h2
    color: #EBC26C
    font-variant: small-caps
    font-weight: 400
    text-align: center
    padding-bottom: 2rem
  .suggestion-city
    border-radius: 1rem
    padding-left: 10px
    background-color: #E0DDD2
    width: 190px
    color: #1b1e21
    i
      padding-left: 1rem
  i:hover
    color: $color4
    cursor: pointer
  .count-people
    width: 30%

%card
  display: inline-flex
  box-shadow: 0 3px 35px 0 rgba(50,58,76,0.12)
  width: 30%
  border: 1.0px solid #e6e6e6
  border-radius: 4.0px
  overflow: hidden
  img
    width: 100%
    max-height: 280px
    display: block
    object-fit: cover

.banner
  width: 100%
  height: 500px
  display: block
  object-fit: cover

.filter
  background-color: $color6
  input
    width: 260px
    height: 40px
    border: none
    border-radius: 2px
  button
    height: 40px
    width: 40px
    background-color: #eaeaea
    border: none
    border-radius: 2px
  button:hover
    background-color: #d4cece
  .box
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  .box select
    -webkit-appearance: none
    text-transform: uppercase
    font-size: 14px
    background-color: $color6
    color: white
    padding-left: 10px
    height: 40px
    width: 400px
    border: 2px solid $color3
    border-radius: 2px
    outline: none
  .box::before
    content: "\f13a"
    font-family: FontAwesome
    position: absolute
    right: 0
    width: 10%
    height: 100%
    text-align: center
    line-height: 40px
    pointer-events: none

.showplace
  background-color: $color3
  .showplace-card
    @extend %card
    p
      opacity: 0
  .showplace-card
    h5
      text-transform: uppercase
    .description
      width: 100%
      background-color: black
      opacity: 0.6
    p
      color: #ffffff
      opacity: 1
  .card-body
    padding: 0
  .showplace-card img
    width: 100%
    transition: 0.5s all ease-in-out
  .showplace-card:hover img
    transform: scale(1.1)

.details
  @extend %area-fix
  width: 95%
  img
    width: 100%
  a
    color: $color6
  a:hover
    text-decoration: none
    color: #386099
  .ymap-container
    z-index: 999
    position: sticky
    top: 0
    height: 650px
    margin-left: 0
    width: 99%
  h3
    text-align: center
    font-weight: 400
    letter-spacing: -1.2px
    margin-bottom: 2rem
  .card
    border-radius: 0
    border: 0
  .tabs
    background-color: $color3
    .card-header
      background: linear-gradient(to top, #D5544B, #e9cd57, #1578d0)
      border: 0
      border-radius: 0
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link
      color: $color3
      background-color: $color6
  p
    text-align: justify
    text-indent: 20px
  .gallery
    img
      width: 200px

.place-beside
  background-color: $color6
  .card
    background-color: $color6
    border: 0
  h2
    font-weight: 400
    text-transform: uppercase
    color: $color3
  h4
    font-size: 1.1rem
    text-transform: uppercase
  .tabs
    .card-header
      background: $color6
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link
    color: #fff
    background: $color4
  .nav-item
    a
      background: linear-gradient(to top, #D5544B, #e9cd57, #1578d0)
      color: $color6
      margin: 8px
    a:hover
      background: #ff1505

.breadcrumb
  border-radius: 0
  a
    color: $color6
  a:hover
    text-decoration: none
    color: $color4

.routes
  background-color: $color3
  .routes-card
    @extend %card
    border: 0
    box-shadow: none
    overflow: hidden
  .routes-card img
    width: 100%
    transition: 0.5s all ease-in-out
  .routes-card:hover img
    transform: scale(1.1)
  .description
    width: 100%
    background-color: black
    opacity: 0.6
    font-size: 18px
    font-variant: small-caps
    h4
      color: #ffffff
      opacity: 1
    small
      color: #ffffff
      opacity: 1
  .card-body
    padding: 0

.route-list
  img
    width: 150px
    height: 150px
    display: block
    object-fit: cover
  h5
    color: #3B77AF
  .number-showplace
    font-weight: 800
    color: $color4
    text-align: center
    height: 50px
    font-size: 30px
    float: right
    width: 50px
    margin-right: 10px
    border: 5px solid $color4
    border-radius: 50px



