<div class="footer">
    <b-row class="m-0 pl-5">
        <b-col>
            <p><a href="/about"> О Ростовской области</a></p>
            <p><a href="/routes">Готовые маршруты</a></p>
            <p><a href="/special-route">Построение индивидуального маршрута</a></p>
            <p><a href="/showplace">Достопримечательности Ростовской области</a></p>
        </b-col>
        <b-col>
            <p><a href="#">События и афиша</a></p>
            <p><a href="#">Галерея</a></p>
            <p><a href="#">Контакты</a></p>
            <p><a href="#">Памятка туриста</a></p>
        </b-col>
        <b-col>
            <p><a href="#">Помощь</a></p>
            <p><a href="#">О проекте</a></p>
            <p><a href="#">Стать партнером</a></p>
            <p><a href="#">Туристический портал Ростовской области</a></p>
        </b-col>
    </b-row>
</div>