<head>
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.sass' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/brand.svg" type="image/x-icon">
</head>