<script src="/javascripts/vue.js"></script>
<script src="https://kit.fontawesome.com/48a1fc7216.js" crossorigin="anonymous"></script>

<noscript><div><img src="https://mc.yandex.ru/watch/64629061" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

<script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
</script>

